.newsArticles {
  margin: 3vh 3vh 1vh 3vh;
  position: relative;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #2d4059;
}

.newsArticles > h2 {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.newsArticles:hover > img {
  opacity: 0.2;
  transition: 0.5s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.newsArticles:hover > h2 {
  display: flex;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

@media only screen and (min-width: 600px) {
  .newsArticles {
    max-width: 80%;
  }

  .newsArticles > img {
    width: 100%;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
  }

  .newsArticles > h2 {
    -webkit-transition: all 2s ease;
    transition: all s ease;
  }
}
