/* card height is width x 1,5735 */
.cardXL {
  width: 260px;
  height: calc(260px * 1.5735);
  font-size: 100%;
}

.cardL {
  width: 240px;
  height: calc(240px * 1.5735);
  font-size: 95%;
}

.cardM {
  width: 220px;
  height: calc(220px * 1.5735);
  font-size: 90%;
}

.cardS {
  width: 200px;
  height: calc(200px * 1.5735);
  font-size: 85%;
}

.cardXS {
  width: 180px;
  height: calc(180px * 1.5735);
  font-size: 80%;
}

.commonCard {
  border: 5px white solid;
}

.rareCard {
  border: 5px blue solid;
}

.ultraCard {
  border: 5px green solid;
}

.epicCard {
  border: 5px orange solid;
}

.legendaryCard {
  border: 5px purple solid;
}

.gameCard {
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.gameCard section {
  width: 100%;
}

.cardVisual {
  height: 70%;
}

.cardVisual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.playValue {
  height: 15%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.playValue p {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.battleStat {
  width: 25%;
  border-radius: 0 100% 100% 0;
  background-color: rgba(121, 9, 9, 1);
  color: white;
}

.summonStat {
  width: 25%;
  border-radius: 100% 0 0 100%;
  background-color: rgba(16, 121, 9, 1);
  color: white;
}

.rarityStat {
  width: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rarityStar {
  width: 40%;
}

.charaName {
  height: 15%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.charaName p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--secondary-color);
  text-align: center;
}
